.estore-prod{
	height: 150px !important;
	max-width: 100%;
}
.detail-img{
	max-width: 100%;
	max-height: 400px;
}
.detail-info li{
	font-variant: small-caps;
	font-size: larger;
	line-height: 30px;
}
.thumb-img{
	width: 60px;
	height: 60px;
	border-radius: 5px;
	margin: 3px;
	padding: 3px;
	box-shadow: 0px 0px 2px blue; 
}
.thumb-img:hover{
	box-shadow: 0px 0px 3px red; 
}
.pro-icon-wraper{
	position: relative;
}
.pro-icon{
	position: absolute;
	top:0px;
	right:0px;
}

/*-----HEADER-----*/
header{
	margin-top: 0;
	position: relative;
}
header .nn-company{
	position: absolute;
	left: 5px;
	bottom: 5px;
}
header .nn-company h1{
	font-family: tahoma;
	font-weight: bold;
	color: white;
	font-size: 45px;
	text-shadow: 0 0 2px black;
}
header .nn-company h4{
	font-family: tahoma;
	letter-spacing: 2.2px;
}
/*-----MENU-----*/
.navbar a{
	font-variant: small-caps;
}
.nn-lang a{
	padding: 10px 0 0 10px !important;
}
/*-----ASIDE-----*/
aside .panel-title{
	font-variant: small-caps;
	font-weight: bolder !important;
}
aside .nn-cart{
	font-variant: small-caps;
}
aside .nn-cart img{
	width: 60px;
}
aside .nn-cart ul{
	list-style-type: circle;
	padding-left: 1px;
}
/*-----FOOTER-----*/
footer a{
	margin-left: 10px;
	margin-right: 10px;
}
/*-----product/list.jsp-----*/
.nn-prod .panel-title{
	font-size: smaller;
	font-variant: small-caps;
	font-weight: bolder;
}
.nn-prod .panel-body img {
	height: 150px;
	max-width: 99%
}
.nn-prod .panel-footer{
	font-family: impact;
	font-size: 20px;
	color: gray;
	padding: 5px;
}
.nn-prod .panel{
	position: relative;
}
.nn-prod .panel>img{
	position: absolute;
	top:0;
	right: 0;
}

.nn-detail .panel-body{
	font-size: larger;
	font-variant: small-caps;
	line-height: 28px;
}
.nn-detail .panel-body img{
	max-width: 99%;
	max-height: 200px;
}

.nn-detail .panel-body strong{
	display: inline-block;
	width: 120px;
	color: brown;
}
.nn-detail .panel-body ul{
	list-style: circle;
	padding-left: 0;
}

.nn-detail-relatives img{
	width: 100px;
	height: 100px;
	box-shadow: 0 0 2px gray;
	border-radius: 5px;
	background-color: white;
	padding: 5px;
	margin: 5px;
}
.nn-detail-relatives img:hover{
	box-shadow: 0 0 5px red;
}

/*-----Form & Validation-----*/
[id$=errors]{
	color:red;
	font-style: italic;
	background-image: url("/static/images/anifire.gif");
	background-repeat: no-repeat;
	padding-left: 15px;
	margin-left: 5px;
}
.form-group label:first-child{
	font-variant: small-caps;
}
.img-wait{
    text-align: center;
    float: right;
    margin-left: 10px;
    margin: 190px 370px 20px 50px;
}

.product-list {
	display: flex;
	flex-wrap: wrap;
	margin: -15px;
}

.product-list .nn-prod {
	margin: 0;
}

.pagination-container {
	text-align: center;
	margin-top: 20px;
}

.pagination-container ul {
	display: inline-block;
}

.background-container {
	background-image: url('https://pos.nvncdn.com/e8033b-157317/art/artCT/20240607_uToSZFQZ.jpg'); /* Thay thế URL này bằng URL của ảnh nền bạn muốn sử dụng */
	background-size: cover; /* Đảm bảo ảnh nền phủ toàn bộ phần tử */
	background-position: center; /* Căn giữa ảnh nền */
	background-repeat: no-repeat; /* Không lặp lại ảnh nền */
	padding: 5px; /* Khoảng cách từ các cạnh của phần tử chứa */
}

.card {
	background-color: rgba(255, 255, 255, 0); /* Nền hoàn toàn trong suốt */
	border: none; /* Loại bỏ đường viền của thẻ */
	border-radius: 10px; /* Bo góc cho thẻ */
	-webkit-backdrop-filter: blur(10px); /* Tương thích với Safari */
	padding: 0; /* Khoảng cách bên trong thẻ, điều chỉnh nếu cần */
}

.card-body {
	padding: 10px; /* Khoảng cách bên trong thẻ */
}

.card-title {
	font-weight: bold; /* Làm chữ tiêu đề đậm */
	font-size: 1.25rem; /* Kích thước chữ tiêu đề lớn hơn */
	color: white; /* Màu chữ tiêu đề */
	text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px darkgray; /* Thêm viền cho chữ tiêu đề */
}

.card-text {
	font-weight: bold; /* Làm chữ nội dung đậm */
	color: white; /* Màu chữ nội dung */
	text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px darkgray; /* Thêm viền cho chữ nội dung */
}

/*.vertical-panel {*/
/*	width: 25vw; !* Chiếm khoảng 1/4 chiều rộng màn hình *!*/
/*	height: 41vh; !* Chiều cao bằng 1/3 chiều cao màn hình *!*/
/*	background-color: #fff; !* Màu nền của panel *!*/
/*	overflow: hidden; !* Đảm bảo không bị tràn ra ngoài *!*/
/*	display: flex;*/
/*	flex-direction: column;*/
/*	align-items: center; !* Canh giữa các phần tử bên trong *!*/
/*	padding: 0; !* Khoảng cách bên trong panel *!*/
/*	border-radius: 10px; !* Bo góc cho panel *!*/
/*}*/

/*.vertical-panel img {*/
/*	width: 100%; !* Đảm bảo ảnh phủ toàn bộ chiều rộng của panel *!*/
/*	height: auto; !* Đảm bảo tỉ lệ ảnh không bị biến dạng *!*/
/*	border-radius: 10px; !* Bo góc cho ảnh *!*/
/*	transition: transform 0.3s ease, box-shadow 0.3s ease; !* Thêm chuyển tiếp cho hiệu ứng phóng to và bóng đổ *!*/
/*}*/

/*.vertical-panel img:hover {*/
/*	transform: scale(1.1); !* Phóng to ảnh khi di chuột qua *!*/
/*	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); !* Tăng cường bóng đổ khi di chuột qua *!*/
/*}*/

/*.slick-slide {*/
/*	display: flex; !* Căn giữa nội dung của slide *!*/
/*	justify-content: center; !* Căn giữa ảnh *!*/
/*	align-items: center; !* Căn giữa ảnh theo chiều dọc *!*/
/*}*/

/*.slick-slide img {*/
/*	max-width: 100%; !* Đảm bảo ảnh không vượt quá chiều rộng của slide *!*/
/*	max-height: 100%; !* Đảm bảo ảnh không vượt quá chiều cao của slide *!*/
/*	object-fit: cover; !* Cắt bớt phần ảnh nếu cần để giữ tỉ lệ *!*/
/*}*/

.img-container {
	overflow: hidden; /* Đảm bảo phần mở rộng không bị hiển thị */
	position: relative; /* Cần thiết cho hiệu ứng zoom */
}

.img-container img {
	transition: transform 0.3s ease; /* Thay đổi kích thước hình ảnh mượt mà */
	border-radius: 10px; /* Bo góc cho hình ảnh */
}

.img-container:hover img {
	transform: scale(1.2); /* Phóng to hình ảnh khi hover */
}

/* Timeline Styles */
.timeline {
	position: relative;
	padding: 0;
	margin: 0;
}

.timeline-item {
	position: relative;
	margin-bottom: 20px;
}

.timeline-icon {
	position: absolute;
	left: 0;
	width: 40px;
	height: 40px;
	background-color: #fff;
	border: 4px solid #ddd;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.timeline-item .timeline-content p {
	margin: 0;
}

.timeline-item .timeline-content .font-weight-bold {
	font-weight: 700;
}

/* Modal Styling */
.modal-header {
	border-bottom: 1px solid #dee2e6;
}

.modal-title {
	font-size: 1.25rem;
}

.modal-body {
	padding: 1.5rem;
}

.modal-footer {
	border-top: 1px solid #dee2e6;
}


